:root {
    --bg: #205295;
    --bg_bright: #2C74B3;
    --navbar: #0A2647; 
    --navbar_darker: #144272; 
    --text: #DCF2F1;
}

html {
    background-color: var(--bg);
}

#main_site_buttons {
    color: var(--text);
    border-radius: 10px;
    margin-left: 10px;
}

#main_site_buttons:hover {
    color: #97977a;
    transition: 0.3s;
}

#body {
    background-color: inherit;
    text-align: center;
    color: var(--text);
}

a, p, h1, h2, h3, h4, h5, h6, a, span, li, td, th, label {
    color: var(--text);
}

nav {
    margin-top: 28px;
    position: fixed;
    z-index: 999;
}

#navbar {
    background-color: var(--navbar);
    font-size: 20px;
    position: fixed;
}

#main_container {
    background-color: inherit;
}

#navbar_container {
    padding-top: 0px;
    padding-bottom: 0px;
}

#logo {
    font-size: 32px;
    color: var(--text);
}

#logo:hover {
    color: #97977a;
    transition: 0.3s;
}
body {
    min-height: 100vh;
    margin: 0;
    position: relative;
}
body::after {
    content: '';
    display: block;
    height: 100px;
    /* Set same as footer's height */
}
footer {
    background-color: var(--bg_bright);
    padding: 14px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 100px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.343) inset;
}

.footer_links {
    color: white;
    text-decoration: none;
}

.footer_links:hover {
    text-decoration: underline;
}

#table_cell_centered {
    vertical-align: middle;
    padding: 10px;
}

#small_table_cell {
    width: 200px;
    max-width: 200px;
    vertical-align: middle;
}

.form-container {
    text-align: center; /* Centers inline elements */
}

.form-container form {
    display: inline-block; /* Makes the form itself a block, centered within text-align */
    text-align: left; /* Aligns form contents properly inside */
}

input {
    width: 300px; /* Adjust the width as needed */
    margin-bottom: 10px; /* Adds spacing between input fields */
    padding: 10px; /* Adds padding for better appearance */
    display: block; /* Ensures each input field takes up a full line */
    margin-left: auto; /* Centers input inside the form */
    margin-right: auto;
}

#user_menu {
    margin-right: 40px;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 

.loader_mini {
    width: 12px;
    height: 12px;
    border: 3px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 