{% extends 'base.html' %}

{% block content %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}i-Stocks | About{% endblock %}</title>
</head>

<script>
    var i = 0;
    var j = 0;
    const txt = [ 'i-Stocks provides an easy platform to monitor stocks, crypto and companies data and analysis. ', '', 'Coming up in the future:',
                    '','- AI Analysis and forecasting with LSTM models', '- Subscription to stocks and Crypto coins', '- More exciting features...', '', 'Stay tuned.'];
    const total_lines = txt.length;
    const speed = 40;
    
    function typeWriter() {
        if (i < total_lines && j < txt[i].length) {
            document.getElementById("type_animation").innerHTML += txt[i].charAt(j);
            j++;
            setTimeout(typeWriter, speed);
        }
        else if (i < total_lines) {
            i++;
            j = 0;
            document.getElementById("type_animation").innerHTML += `<br/>`;
            setTimeout(typeWriter, speed);
        }
    }
</script>

<body onload="typeWriter()">

<br/><br/><br/>

<code id="type_animation" style="font-size: 34px; color: var(--text);"></code>

</body>
{% endblock %}