{% extends 'base.html' %}

{% block content %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}i-Stocks | Crypto Live{% endblock %}</title>
</head>

<br/>

<table id="search_table" style="margin-bottom: 24px; left: 50%;">
    <tr>
        <form method="post">
        {% csrf_token %}
            <td>
                <input type="text" id="search_input_field" name="search_input_field" style="max-height:36px">
            </td>
            <td>
                <button type="submit" class="btn btn-primary" style="max-height:36px">Search</button>
            </td>
            <td><a id="search_results_status" style="visibility: hidden;"></a></td>
        </form>
    </tr>
<table>

<div id="prices_container">
    <table class="table table-bordered">
        <tbody id="prices_table_body">
        <tbody>
    </table>
    <div id="loading_status"><span class="loader"></span><br/><br/></div>
</div>

<a id="prev_page_btn_wrapper"><button class="btn btn-secondary" id="next_page_btn">Previous Page</button></a>
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
Page <b><a id="curr_page"></a></b> (<a id="curr_num_of_pages"></a> Total)
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
<a id="next_page_btn_wrapper"><button class="btn btn-secondary" id="prev_page_btn">Next Page</button></a>

<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
<script language="javascript">
    
    var HttpClient = function() {
        this.sendHttpRequest = function(requestType, aUrl, data, aCallback) {
            var anHttpRequest = new XMLHttpRequest();
            anHttpRequest.onreadystatechange = function() {
                if (anHttpRequest.readyState == 4 && anHttpRequest.status == 200)
                    aCallback(anHttpRequest.responseText);
            };
            anHttpRequest.open(requestType, aUrl, true);
            anHttpRequest.setRequestHeader("Content-Type", "application/json");
            anHttpRequest.send(JSON.stringify(data)); 
        };
    };
    var client = new HttpClient();

    var params = new URLSearchParams(window.location.search);
    let page_num = Number(params.get('page_num'));
    let num_of_pages = 48; 
    document.getElementById('curr_page').textContent = page_num + 1;
    let page_coin_ids_str = '';
    
    document.getElementById('prev_page_btn_wrapper').href = '/crypto_live/?page_num=' + (page_num - 1);
    document.getElementById('next_page_btn_wrapper').href = '/crypto_live/?page_num=' + (page_num + 1);

    if (page_num === 0) {
        document.getElementById('prev_page_btn_wrapper').style.visibility = 'hidden';
    }
    else { // temporarily hide search for all pages>0, there's a small issue with it from these pages (resulting page_num is incorrect)
        document.getElementById('search_table').style.visibility = 'hidden';
    }

    // TO-DO: solve issue where there's more than 13 results (e.g. search 'b') and they are all on the same page (complex)

    client.sendHttpRequest('POST', '/get_crypto_coin_list', {page_number: page_num}, function(response) {
        let res = JSON.parse(response);
        page_coin_ids_list = res['coin_list'];
        page_coin_ids_str = page_coin_ids_list.join();
        {% if search_results %}
            {% if search_results|length > 1 %}
                page_coin_ids_str = '{{ search_results }}';
                page_coin_ids_list = page_coin_ids_str.split(',');
                num_of_pages = Math.ceil(page_coin_ids_list.length / 13);
                document.getElementById('search_results_status').innerHTML = `&emsp;&emsp;&emsp;&emsp;Found <b>${page_coin_ids_list.length}</b> results:`;
            {% else %}
                document.getElementById('search_results_status').innerHTML = `&emsp;&emsp;&emsp;&emsp; <a style="color: #ff1a1a;">No results found, please check your query.</a>`;
            {% endif%}
            document.getElementById('search_results_status').style.visibility = 'visible';
        {% endif %}

        if (page_num === num_of_pages - 1) {
            document.getElementById('next_page_btn_wrapper').style.visibility = 'hidden';
        }

        document.getElementById('curr_num_of_pages').innerHTML = num_of_pages;

        const ws = new WebSocket('wss://ws.coincap.io/prices?assets='+page_coin_ids_str);
        let coin_price_buffer = {};

        // init table
        for (let i in page_coin_ids_list) {
            document.getElementById('prices_table_body').innerHTML += `
                    <tr>
                    <td id="small_table_cell"><b id="${page_coin_ids_list[i]}">${normalizeCoinName(page_coin_ids_list[i])}</b>:</td>
                    <td><h5 id="${page_coin_ids_list[i]}_price"><code style="font-size: 12px;"><span class="loader_mini"></span></code></h5></td>
                    <td id="small_table_cell">
                        <a id="${page_coin_ids_list[i]}_plotter_link" href="/crypto_live_plotter?requested_coin=${page_coin_ids_list[i]}&from_page_num=${page_num}&last_data=[]" style="text-decoration:none;">
                            <button class="btn btn-primary">Live graph</button>
                        </a>
                    </td>
                    </tr>
                    `;
        }
        
        document.getElementById('loading_status').innerHTML = '';

        ws.onmessage = function(event) {
            const data = JSON.parse(event.data);
            for (let coin_symbol in data) {
                if (!(coin_symbol in coin_price_buffer)) {
                    coin_price_buffer[coin_symbol] = [[Date.now(), data[coin_symbol]]];
                }
                else {
                    document.getElementById(coin_symbol+'_price').style.color = data[coin_symbol] > coin_price_buffer[coin_symbol][coin_price_buffer[coin_symbol].length - 1][1] ? "#66ff33" : "#ff1a1a";
                    coin_price_buffer[coin_symbol].push([Date.now(), data[coin_symbol]]);
                }
                document.getElementById(coin_symbol+'_price').textContent = normalizePrice(data[coin_symbol]);
                document.getElementById(coin_symbol+'_plotter_link').setAttribute('href', `/crypto_live_plotter?requested_coin=${coin_symbol}&from_page_num=${page_num}&last_data=${encodeURIComponent(JSON.stringify(coin_price_buffer[coin_symbol]))}`);
            }
        };
        ws.onerror = (error) => {
            console.error('(WS.OnError) WebSocket error:', error);
        };
    });

    function normalizePrice(s) {
        return Number(s).toLocaleString("en-US", {style: "currency", currency: "USD"});
    }
    
    function normalizeCoinName(s) {
        return (s.charAt(0)+'').toUpperCase() + s.substring(1);
    }
</script>
</body>
{% endblock %}