{% extends 'base.html' %}

{% block content %}

<h1><u>Real-time Crypto Prices</u></h1>
<br/>

<div id="prices_container">
    <table class="table table-bordered">
        <tbody id="prices_table_body">
        <tbody>
    </table>
    <div id="loading_status"><span class="loader"></span><br/><br/></div>
</div>

<a id="prev_page_btn_wrapper"><button class="btn btn-secondary" id="next_page_btn">Previous Page</button></a>
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
Page <b><a id="curr_page"></a></b>
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
<a id="next_page_btn_wrapper"><button class="btn btn-secondary" id="prev_page_btn">Next Page</button></a>

<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
<script language="javascript">
    
    // TO-DO 1.0: busyLoader to this page
    // TO-DO 1.1: replace the presented price decimal fix with a default of 3
    // TO-DO 1.2: make a select input to choose the decimal fix value (0-5)
    // TO-DO 1.3: add a search box
    // TO-DO 1.4: add icons to coins

    var HttpClient = function() {
        this.sendHttpRequest = function(requestType, aUrl, data, aCallback) {
            var anHttpRequest = new XMLHttpRequest();
            anHttpRequest.onreadystatechange = function() {
                if (anHttpRequest.readyState == 4 && anHttpRequest.status == 200)
                    aCallback(anHttpRequest.responseText);
            };
            anHttpRequest.open(requestType, aUrl, true);
            anHttpRequest.setRequestHeader("Content-Type", "application/json");
            anHttpRequest.send(JSON.stringify(data)); 
        };
    };
    
    var client = new HttpClient();

    var params = new URLSearchParams(window.location.search);
    let page_num = Number(params.get('page_num'));
    document.getElementById('curr_page').textContent = page_num + 1;
    let page_coin_ids_str = '';
    
    document.getElementById('prev_page_btn_wrapper').href = '/crypto_live/?page_num=' + (page_num - 1);
    document.getElementById('next_page_btn_wrapper').href = '/crypto_live/?page_num=' + (page_num + 1);

    if (page_num === 0) {
        document.getElementById('prev_page_btn_wrapper').style.visibility = 'hidden';
    }
    else if (page_num === 48) {
        document.getElementById('next_page_btn_wrapper').style.visibility = 'hidden';
    }

    client.sendHttpRequest('POST', '/get_crypto_coin_list', {page_number: page_num}, function(response) {
        let res = JSON.parse(response);
        page_coin_ids_list = res['coin_list'];
        // coin_last_price_list = res['coin_last_price_list'];
        page_coin_ids_str = page_coin_ids_list.join();
        const ws = new WebSocket('wss://ws.coincap.io/prices?assets='+page_coin_ids_str);
        let coin_price_buffer = {};

        // init table
        for (let i in page_coin_ids_list) {
            document.getElementById('prices_table_body').innerHTML += `
                    <tr>
                    <td id="small_table_cell"><b id="${page_coin_ids_list[i]}">${normalizeCoinName(page_coin_ids_list[i])}</b>:</td>
                    <td><h4 id="${page_coin_ids_list[i]}_price"><code style="font-size: 12px;"><span class="loader_mini"></span></code></h4></td>
                    <td id="small_table_cell">
                        <a id="${page_coin_ids_list[i]}_plotter_link" href="/crypto_live_plotter?requested_coin=${page_coin_ids_list[i]}&last_data=[]" style="text-decoration:none;">
                            <button class="btn btn-primary" id="${page_coin_ids_list[i]}_live_plot_btn">Live graph</button>
                        </a>
                    </td>
                    </tr>
                    `;
        }
        
        document.getElementById('loading_status').innerHTML = '';

        ws.onmessage = function(event) {
            const data = JSON.parse(event.data);
            for (let coin_symbol in data) {
                if (!(coin_symbol in coin_price_buffer)) {
                    coin_price_buffer[coin_symbol] = [[Date.now(), data[coin_symbol]]];
                }
                else {
                    document.getElementById(coin_symbol+'_price').style.color = data[coin_symbol] > coin_price_buffer[coin_symbol][coin_price_buffer[coin_symbol].length - 1][1] ? "#66ff33" : "#ff1a1a";
                    coin_price_buffer[coin_symbol].push([Date.now(), data[coin_symbol]]);
                }
                document.getElementById(coin_symbol+'_price').textContent = normalizePrice(data[coin_symbol]);
                document.getElementById(coin_symbol+'_plotter_link').setAttribute('href', `/crypto_live_plotter?requested_coin=${coin_symbol}&last_data=${encodeURIComponent(JSON.stringify(coin_price_buffer[coin_symbol]))}`);
            }
        };
        ws.onerror = (error) => {
            console.error('(WS.OnError) WebSocket error:', error);
        };
    });

    function normalizePrice(s) {
        return Number(s).toLocaleString("en-US", {style: "currency", currency: "USD"});
    }
    
    function normalizeCoinName(s) {
        return (s.charAt(0)+'').toUpperCase() + s.substring(1);
    }
</script>
</body>
{% endblock %}