{% extends 'base.html' %}

{% block content %}

<h1><u>Real-time Crypto Prices</u></h1>
<br/><br/><br/>

<div id="prices_container"> <div id="loading_status">Loading...</div>
    <table class="table table-bordered">
        <tbody id="prices_table_body">
        <tbody>
    </table>
</div>

<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
<script language="javascript">
    // TO-DO: make the color of the price dynamic between green and red (according to increase or decline status)

    function normalizePrice(s) {
        return Number(s).toLocaleString("en-US", {style: "currency", currency: "USD"});
    }
    
    function normalizeCoinName(s) {
        return (s.charAt(0)+'').toUpperCase() + s.substring(1);
    }

    const ws = new WebSocket('wss://ws.coincap.io/prices?assets=bitcoin,ethereum,monero,litecoin,solana,tether,cardano');
    let coin_price_buffer = {};

    ws.onmessage = function(event) {
        const data = JSON.parse(event.data);
        for (let coin_symbol in data) {
            if (!(coin_symbol in coin_price_buffer)) {
                document.getElementById('prices_table_body').innerHTML += `
                <tr>
                <td id="table_row_header"><b id="${coin_symbol}">${normalizeCoinName(coin_symbol)}</b>:</td>
                <td><h4 id="${coin_symbol}_price" style="color: #66ff33;"></h4></td>
                <td id="table_row_header">
                    <a id="${coin_symbol}_plotter_link" href="/coin_plotter?requested_coin=${coin_symbol}&last_data=[]" style="text-decoration:none;">
                        <button class="btn btn-primary" id="${coin_symbol}_live_plot_btn">Live graph</button>
                    </a>
                </td>
                </tr>
                `;
                coin_price_buffer[coin_symbol] = [[Date.now(), data[coin_symbol]]];
            }
            else {
                coin_price_buffer[coin_symbol].push([Date.now(), data[coin_symbol]]);
            }
            document.getElementById(coin_symbol+'_price').textContent = normalizePrice(data[coin_symbol]);
            document.getElementById('loading_status').textContent = '';
            document.getElementById(coin_symbol+'_plotter_link').setAttribute('href', `/coin_plotter?requested_coin=${coin_symbol}&last_data=${encodeURIComponent(JSON.stringify(coin_price_buffer['ethereum']))}`);
        }
        // if (data.ethereum) {
        //    document.getElementById('prices_container').textContent = `$${data.ethereum}`;
        // }
    };
    ws.onerror = (error) => {
        console.error('(WS.OnError) WebSocket error:', error);
    };
</script>
</body>
{% endblock %}