{% extends 'base.html' %}

{% block content %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}i-Stocks | Login{% endblock %}</title>
</head>

<br/><br/>

    <h2>Login</h2>
    
    <br/>

    <div class="form-container">

    <form method="post" class="forms">

        {% csrf_token %}


        <div class="mb-3">

            <label for="username" class="form-label">Username: </label>

            <input type="text" class="form-control" id="username" name="username" required>

        </div>

        <div class="mb-3">

            <label for="password" class="form-label">Password: </label>

            <input type="password" class="form-control" id="password" name="password" required>

        </div>

        <br/>

        <button type="submit" class="btn btn-primary">Login</button>

    </form>

    </div>

{% endblock %}
