{% extends 'base.html' %}

{% block content %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}i-Stocks | My Profile{% endblock %}</title>
</head>

<h2>My Profile</h2>

<br/>

    {% if user.is_authenticated %}

        <table class="table table-bordered">

            <tr>

                <td id="small_table_cell">
                    
                    <b>

                        Username

                    </b>

                </td>

                <td>
                    
                    {{ user.username }}
                
                </td>

            </tr>

            <tr>

                <td id="small_table_cell">
                    
                    <b>

                        E-mail

                    </b>

                </td>

                <td>
                    
                    {{ user.email }}
                
                </td>

            </tr>

            <tr>

                <td id="small_table_cell">
                    
                    <b>

                        My Stocks

                    </b>

                </td>

                <td>

                    <br/>
                    <form method="post" class="forms">
                        <input type="hidden" id="_method" name="_method" value="DELETE">
                        <input type="hidden" id="_stock_sym" name="_stock_sym">
                        {% csrf_token %}
                        {% for stock in user.my_stocks %}
                            {% if deleted %}
                                {% if deleted == stock %}
                                {% else %}
                                <div class="btn-group btn-group-sm">
                                    <button type="button" class="btn btn-primary">{{ stock }}</button>
                                    <button type="submit" id="del_{{ stock }}_btn" onclick="remove_from_my_stocks('{{ stock }}')" class="btn btn-danger">Delete</button>
                                </div><br/><br/>
                                {% endif %}
                            {% else %}
                                <div class="btn-group btn-group-sm">
                                    <a href="/stocks?selection={{stock}}"><button type="button" class="btn btn-primary">{{ stock }}</button></a>
                                    <button type="submit" id="del_{{ stock }}_btn" onclick="remove_from_my_stocks('{{ stock }}')" class="btn btn-danger">Delete</button>
                                </div><br/><br/>
                            {% endif %}
                        {% endfor %}
                    </form>
                </td>

            </tr>

        </table>

    {% else %}

        <h3>to see your profile - simply <a href="{% url 'login' %}">log in</a>.</h3>

        <br/>

        <h4>new to this website? <a href="{% url 'register' %}">register</a> now!</h4>

    {% endif %}

    <script>
        function remove_from_my_stocks(stock_sym) {
            document.getElementById('_stock_sym').value = stock_sym;
            document.getElementById('del_'+stock_sym+'_btn').innerHTML = 'Loading...';
        }
    </script>

{% endblock %}