{% extends 'base.html' %}

{% block content %}

<h1><u>Stocks Info</u></h1>

<br/><br/><br/>
<table>

    <tr>

        <td>

            <div class="form-container">

                <form id="stock_form" method="post" class="forms">
            
                    {% csrf_token %}
            
            
                    <div class="mb-3">
            
                        <label for="stock_sym" class="form-label">Stock Symbol: </label>
                        {% if stock_name %}
                            <input type="text" class="form-control" id="stock_sym" name="stock_sym" value="{{ stock_name }}" list="my_stocks_list" required>

                        {% else %}

                            <input type="text" class="form-control" id="stock_sym" name="stock_sym" list="my_stocks_list" required>
        
                        {% endif %}
                        
                        <datalist id="my_stocks_list">
                            {% if my_stocks %}
                                {% for my_stock in my_stocks %}
                                    <option value="{{ my_stock }}">
                                {% endfor %}
                            {% endif %}
                        </datalist>
            
                    </div>
            
                    <div class="mb-3">
            
                        <label for="date" class="form-label">between dates: </label>
            
                        <input type="date" onchange="plot()" id="date_start" name="date_start" value="2024-01-01" />
            
                        <input type="date" onchange="plot()" id="date_end" name="date_end" value="2024-12-06" />
            
                    </div>
            
                    <br/>
            
                </form>

                
            
                </div>
                <br/>
                <form method="post" class="forms">
                    {% csrf_token %}
                    <input type="hidden" name="_method" value="PATCH">
                    <input type="hidden" name="_symbol" id="_symbol" value="PATCH">
                    <button type="submit" onclick="update_name()" class="btn btn-secondary">Save to 'My Stocks'</button>
                </form>

        </td>

        <td>

            {% if graph %}

                <h2 id="loader_text" for="loader_text" style="visibility: hidden;" class="form-label">Loading info...</h2>
                <img src="data:image/png;base64,{{ graph }}" alt="Stock Plot">

            {% endif %}

        </td>

    </tr>

</table>

<script>
    function plot() {
        document.getElementById('stock_form').submit();
        document.getElementById('loader_text').style.visibility = 'visible';
    }
    function update_name() {
        document.getElementById('_symbol').value = document.getElementById('stock_sym').value;
    }
</script>

</body>
{% endblock %}