{% extends 'base.html' %}

{% block content %}

<h1><u>Stocks Info</u></h1>

<br/><br/><br/>
<table>

    <tr>

        <td>

            <div class="form-container">

                <form method="post" class="forms">
            
                    {% csrf_token %}
            
            
                    <div class="mb-3">
            
                        <label for="stock_sym" class="form-label">Stock Symbol: </label>
            
                        <input type="text" class="form-control" id="stock_sym" name="stock_sym" required>
            
                    </div>
            
                    <div class="mb-3">
            
                        <label for="date" class="form-label">between dates: </label>
            
                        <input type="date" id="date_start" name="date_start" value="2024-01-01" />
            
                        <input type="date" id="date_end" name="date_end" value="2024-12-06" />
            
                    </div>
            
                    <br/>
                    {% comment %} TO-DO: fix this lousy html {% endcomment %}
                    <button type="submit" class="btn btn-primary">Get Stock</button>
            
                </form>

                
            
                </div>
                <br/>
                <form method="patch" class="forms">
                    <button type="submit" class="btn btn-secondary">Save to 'My Stocks'</button>
                </form>

        </td>

        <td>

            {% if graph %}

                <img src="data:image/png;base64,{{ graph }}" alt="Stock Plot">

            {% endif %}

        </td>

    </tr>

</table>

</body>
{% endblock %}